body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.skills-Wrapper {
  height: 60vh;
  position: relative;
  background-color: #fff;
  z-index: 5;
}

.skills-Header {
  font-size: 3.2rem;
  font-weight: 500;
  color: #3a3a3a;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.animation-container {
  color: #ff6666;
  opacity: 0.5;
}

/* Bounce Animation */
/* 
.bounce {
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.bounce span {
  color: #ff6666;
  opacity: 0.5;
  display: inline-block;
  animation: bounce 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes bounce {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
} */

/* Skills Icons */

.react {
  --i: 1;
  position: absolute;
  top: 25%;
  left: 40%;
  font-size: 2.3em;
}

.github {
  --i: 2;
  position: absolute;
  margin: 0;
  top: 15%;
  left: 25%;
  font-size: 2.5em;
}

.bootstrap {
  --i: 3;
  position: absolute;
  top: 13%;
  left: 65%;
  font-size: 2.7em;
}

.javascript {
  --i: 4;
  position: absolute;
  top: 7%;
  left: 82%;
  font-weight: 400;
  top: 3.125;
  font-size: 3.2em;
}

.css {
  --i: 0;
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 2.7em;
}

.mongo {
  --i: 1;
  position: absolute;
  top: 60%;
  left: 30%;
  font-size: 1.9em;
}

.node {
  --i: 2;
  position: absolute;
  margin: 0;
  top: 75%;
  left: 45%;
  font-size: 2.5em;
}

.html {
  --i: 3;
  position: absolute;
  top: 62%;
  left: 63%;
  font-size: 2em;
}

.ES6 {
  --i: 4;
  position: absolute;
  margin: 0;
  font-weight: 400;
  top: 50%;
  left: 75%;
  font-size: 1.2rem;
}

.mysql {
  --i: 5;
  position: absolute;
  font-weight: 400;
  top: 67%;
  left: 80%;
  font-size: 3.2em;
}

.api {
  --i: 0;
  position: absolute;
  margin: 0;
  font-weight: 400;
  top: 30%;
  left: 15%;
  font-size: 1.2rem;
}

/* hr */

hr {
  margin: 0rem auto 3rem auto;
  width: 80%;
  border: 0.1rem solid #000000;
  opacity: 1;
}

hr {
  margin-bottom: 1em;
  position: absolute;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  border: 0.1rem solid #000000;
  opacity: 1;
}

@media (max-width: 600px) {
  .skills-Wrapper {
    display: none;
  }
}
