.about-Wrapper {
  font-family: "Playfair Display", serif;
  color: #3a3a3a;
  text-align: center;
}

.about-H1 {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.about-H1::before {
  content: "";
  height: 0.175rem;
  width: 5%;
  background-color: #ff6666;
  position: absolute;
  bottom: -1.9em;
  left: 50%;
  transform: translate(-105%);
}

.full-stop {
  font-size: 3.5rem;
  color: #ff6666;
}

.about-info-text {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  padding-top: 1.4rem;
  font-weight: 200;
}
