.about-Wrapper {
  font-family: "Playfair Display", serif;
  color: var(--color-secondary);
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  z-index: 5;
}

.about-H1 {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.full-stop {
  font-size: 3.5rem;
  color: var(--color-primary);
}

.about-info-text {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  padding-top: 1.4rem;
  font-weight: 200;
}
