.about-Wrapper {
  font-family: "Montserrat";
  color: var(--color-secondary);
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  z-index: 5;
}

.about-H1 {
  margin-bottom: 2rem;
  font-size: 4.7rem;
  font-weight: 800;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.full-stop {
  padding: 0.5rem;
  font-size: 4.7rem;
  color: var(--color-primary);
}

.about-info-text {
  width: 75%;
  margin: auto;
  font-size: 2rem;
  padding-top: 1.4rem;
  font-weight: 200;
}
