body {
  font-family: "Roboto Condensed" sans-serif;
  --nav-load-time: 700ms;
}

.navbar-brand {
  max-width: 17.25rem !important;
  height: 3.125rem;
}

.navbar-logo {
  width: 8.125rem;
  height: 2.125rem;
  object-fit: cover;
  animation: logo-load var(--nav-load-time) ease-in;
}

nav ul li {
  text-transform: uppercase;
  animation: navbar-load var(--nav-load-time) ease-in;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin: auto 0.5rem;
  color: #000000 !important;
}

.navbar-nav > li > a:hover {
  color: rgb(181, 181, 181) !important;
}

@keyframes navbar-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes logo-load {
  0% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(0);
  }
}
