nav {
  justify-content: space-between;
  font-family: var(--primary-font-family);
  color: var(--color-secondary);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  transition-timing-function: ease-in;
  transition: 0.4s;
  z-index: 10;
}

.navHide {
  opacity: 0;
}

.burgerMenu-container {
  width: 90%;
  padding: 0 !important;
}

.navbarFixed {
  padding-top: 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--tertiary-font-family);
  margin-bottom: 0;
  padding: 0;
  font-size: 3.3rem;
  font-weight: bold;
  z-index: 20;
}

.hamBurgerMenu {
  cursor: pointer;
  transform: scale(1.3);
  z-index: 20;
}

.menu {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.menu-items {
  margin-top: 5rem;
}

.contact-form-container {
  margin-top: 3.8rem;
}

.menu-ul-container {
  display: flex;
  justify-content: end;
  display: block;
}
.menu-ul {
  margin-right: 5rem;
  list-style: none;
  position: absolute;
  right: 0;
  text-align: right;
}

.menu-li {
  margin-top: 2.2rem;
}

.menu-ul > li > a:hover {
  color: var(--color-accent) !important;
}

.menu-link {
  font-size: 3.9rem;
  font-weight: 800;
  color: var(--color-secondary);
  text-decoration: none;
}

@media (max-width: 1333.8px) {
  .menu-ul {
    transition: all 0.3s ease-in-out;
    padding-left: 3.5em;
  }
}
@media (max-width: 1113.6px) {
  .contact-form-container {
    display: none;
  }
}

/* Smartpone, tablet */

@media (max-width: 600px) {
  .menu-ul {
    margin-right: 3rem;
  }
  .menu-link {
    font-size: 3rem;
  }
}
