nav {
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  transition-timing-function: ease-in;
  transition: 0.4s;
  z-index: 10;
}

.navHide {
  opacity: 0;
}

.burgerMenu-container {
  width: 90%;
  padding: 0 !important;
}

.navbarFixed {
  padding-top: 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  color: #3a3a3a;
  margin-bottom: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: bold;
  z-index: 20;
}

.hamBurgerMenu {
  cursor: pointer;
  transform: scale(1.1);
  color: #3a3a3a;
  z-index: 20;
}

.menu {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.menu-items {
  margin-right: 5%;
  margin-top: 5rem;
}

.contact-form-container {
  margin-top: 3.8rem;
}

@media (max-width: 650px) {
  .contact-form-container {
    display: none;
  }
}
.menu-ul-container {
  display: flex;
  justify-content: end;
  display: block;
  text-align: right;
}
.menu-ul {
  list-style: none;
}

.menu-li {
  margin-top: 2.5rem;
}

.menu-ul > li > a:hover {
  color: var(--color-accent) !important;
}

.menu-link {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: none;
}
