.blog-Wrapper {
  font-family: "Montserrat";
  min-height: 81vh;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  color: var(--color-secondary);
  background-color: white;
  z-index: 5;
}

.blog-container {
  padding-top: 4rem;
}

.blog-slogan-container {
  margin-bottom: 1.8rem;
}

.blog-slogan {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 600;
}

.blog-h1 {
  font-size: var(--secondary-font-size);
  font-weight: 800;
}

.blog-content {
  margin-top: 3.5rem;
}

.blog-h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.blog-p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.date-container {
  margin-top: 1.8rem;
}

.blog-date {
  font-size: 1.1rem;
  font-weight: 600;
}
